<!-- Error -->
<div class="alert alert-dismissible alert-danger" *ngIf="error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4><strong>Oh snap! An Error</strong></h4>
  <pre><b>Estatus:</b> {{ error.status }}, <b>Message:</b>{{ error.message }}, <b>Url:</b>{{ error.url }}</pre>
</div>
<!--#.Error-->

<!-- Loader -->
<div class="alert alert-dismissible alert-dark" *ngIf="loading">
  <strong>Loading Heroe Info ... <i class="fa fa-sync fa-spin fa-2x"></i></strong>
</div>
<!-- #.Loader-->

<!-- Heroe -->
<div class="card mb-3" *ngIf="!loading && !error">
  <h3 class="card-header heroe-name">{{ heroe.name }}</h3>
  <img style="width: 100%; display: block;" [src]="heroe.thumbnail.path + '.' + heroe.thumbnail.extension" [alt]="heroe.name" />
  <div class="card-body">
    <p class="card-text">{{ heroe.description }}</p>
  </div>
</div>
<!-- #.Heroe-->
